<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="../bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="../bootstrap/bootstrap-theme.css" rel="stylesheet" />
    <script src="../../Scripts/bootstrap.min.js"></script>
</head>
<body>

    <section class="container">
        <style>
            .btn-link {
                font-family: tahoma,arial,verdana,sans-serif,Lucida Sans;
                font-size: 11px;
                padding: 16px 8px;
            }

            #search-box button {
                margin-right: 0px;
            }

            #search-box .form-group {
                width: 125px;
            }

                #search-box .form-group input {
                    margin-top: 0px;
                }
        </style>
        <div class="row">
            <div class="col-md-2">
                <a class="navbar-brand" href="#">Вконтакте</a>
            </div>
            <div id="search-box" class="col-md-3">
                <form class="navbar-form navbar-left" role="search">

                    <button type="submit" class="btn btn-default pull-left">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                    <div class="form-group pull-left">
                        <input type="text" class="form-control" placeholder="Search" />
                    </div>
                </form>
            </div>
            <div class="col-md-7">
                <p class="pull-right">
                    <button type="button" class="btn btn-lg btn-link">люди</button>
                    <button type="button" class="btn btn-lg btn-link">сообщества</button>
                    <button type="button" class="btn btn-lg btn-link">игры</button>
                    <button type="button" class="btn btn-lg btn-link">музыка</button>
                    <button type="button" class="btn btn-lg btn-link"><span class="glyphicon glyphicon-play"></span></button>
                    <button type="button" class="btn btn-lg btn-link">помощь</button>
                    <button type="button" class="btn btn-lg btn-link">выйти</button>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="alert alert-success">
                    <strong>Well done!</strong> You successfully read this important alert message.
                </div>
            </div>
            <div class="col-md-9">


                <div data-ng-controller="TabsCtrl">
                    <tabset>
                        <tab heading="Общее">Static content</tab>
                        <tab data-ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
                          {{tab.content}}
                        </tab>
                      </tabset>

                </div>


            </div>
        </div>

    </section>

</body>
</html>
